body{
    height: 100vh;
    width: 100vw;

    display: flex;
    
    justify-content: center;
    align-items: center;
}

.container{
    height: 50%;
    width: 30%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.container > *{
    margin: 5px;
}

button{
    height: 10%;
    width: 50%;

    border: 0;
    /* background-color: aliceblue; */
}

#game{
    border: 1px solid #000;
}